/* Styles généraux pour tout le site */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#desktop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#start-menu-button, #taskbar-icons {
    padding: 0 15px;
    cursor: pointer;
}
