body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f4;
}

#desktop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

#taskbar #clock {
    margin-right: 20px;
    font-size: 16px;
}

.popup {
    position: absolute;
    bottom: 60px;
    right: 10px;
    background-color: white;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    width: 300px;
    display: none; /* S'assurer que le popup est initialement caché */
    z-index: 100;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#live-clock, #date {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.calendar-header button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.calendar-header button:hover {
    background-color: #2980b9;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
}

.calendar-day {
    text-align: center;
    padding: 10px;
    background: #ecf0f1;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calendar-day:hover {
    background: #bdc3c7;
}

.calendar-day.selected {
    background: #3498db; /* couleur de fond pour le jour sélectionné */
    color: white; /* couleur du texte pour le jour sélectionné */
}

.calendar-day.today {
    background: #2ecc71; /* couleur de fond pour le jour actuel */
    color: white; /* couleur du texte pour le jour actuel */
}

#start-menu-button, #taskbar-icons {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

#start-menu-button:hover, #taskbar-icons:hover {
    text-decoration: underline;
}
